:root {
    --blue-gradient: linear-gradient(rgb(0, 195, 255), rgb(16, 124, 196));
    --green-gradient:  linear-gradient(rgb(165, 239, 143), rgb(59, 236, 59));
}

* {
    /* background-image: var(--blue-gradient); */
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    /* max-height: 100%; */
    /* background-image: url("wallpaper2.jpg"); */
    /* background-image: var(--blue-gradient); */
    background-color: rgb(28, 28, 119);
    /* width: 100%; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: -moz-stack;
    /* margin: 0; */
}

nav {
    /* border: 1px solid green; */
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
    margin:5px;
}

h2 {
    color: white;
}
.searchSection {
    /* border: 2px solid white; */
    margin: 10px;
    float: left;
    height: 750px;
    width: 25%;
    text-align: center;
}

#searchBar {
    width: 70%;
}

button {
    width: 70%;
    background-color: goldenrod;
    margin: 2px;
    border: 0.5px solid whitesmoke;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
}

ul {
    list-style: none;
}

#submitButton {
    color: white;
    width: 55%;
    /* background-image: var(--green-gradient); */
    background-color: black;
    border: 1px solid white;
}

#submitButton :hover {
    color: yellow;
    background-color: blue;
}

.currentForecast {
    /* background-color: white; */
    color: white;
    padding: 2px;
    float: right;
    width: 65%;
    margin: 5px;
    /* border: 2px solid goldenrod; */
}

.forecast5day {
    /* border: 2px solid black; */
    margin: 10px;
    display: inline-block;
    width: 65%;
    padding: 10px;
}

.all5Cards {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;

}

.dayCard {
    background-color: goldenrod;
    width: 19%;
    border: 2px solid black;
    margin: 5px;
    height: 300px;
    text-align: center;
    font-size: 25px;
}

.dayCard p {
    text-align: left;
    size: 10px;
}

.hide {
    display: none;
}

#icon {
    width: 45px;
    height: 45px;
}
